<html>
     <head>
          <title>Typescript</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
     </head>
     <body class = "container">
       <div class = "row">
         <!-- <nav class="sidenav" style = "position:fixed; width: 150px; left: 0; overflow-x: hidden"> -->

         <nav class="col-2 sticky-sidebar">

           <div class="sticky-top">
             <ul class="nav flex-column">
               <li class="nav-item">
                 <a class="nav-link active" href="#typescript">
                   <b> What is typescript? </b>
                 </a>
               </li>
               <li class="nav-item">
                 <a class="nav-link active" href="#typing">
                   Typing
                 </a>
               </li>
               <li class="nav-item">
                 <a class="nav-link active" href="#enums">
                   Enums
                 </a>
               </li>
               <li class="nav-item">
                 <a class="nav-link active" href="#type_inferencing">
                   Type Inferencing
                 </a>
               </li>
               <li class="nav-item">
                 <a class="nav-link active" href="#type_optionality">
                   Type Optionality
                 </a>
               </li>
               <li class="nav-item">
                 <a class="nav-link active" href="#generics">
                   Generics
                 </a>
               </li>
               <li class="nav-item">
                 <a class="nav-link active" href="#classes">
                   Classes
                 </a>
               </li>
               <li class="nav-item">
                 <a class="nav-link active" href="#compiler_options">
                   Compiler Options
                 </a>
               </li>
               <li class="nav-item">
                 <a class="nav-link active" href="#resources">
                   Resources
                 </a>
               </li>
             </ul>
           </div>
         </nav>

       <div class = "col-9">

         <div  id = "typescript" class="jumbotron jumbotron-fluid">
             <div class="container">
               <h1 class="display-4">Typescript</h1>
               <p class="lead">
                 0. <b style = "color:red;">Is a superset of JS</b>: it incorporates all the features of JS, while adding its own <br>

                 1. <b style = "color:red;">Compiles into JS</b>: A typescript file will compile into a plain JS file
               </p>
             </div>
           </div>

         <h2 id = "typing"> Typing </h2> <hr>
          One of the primary features of typescript is that it is <br> <br>

          0. <b>strongly typed</b>: errors are thrown if you try to perform an implicit conversion <br>
          1. <b>statically typed</b>: typechecks are done at compile-time, rather than runtime <br> <br> <br>

          Let's look at an example of what this looks like. If you have the following typescript file <code>example.ts</code>:
          <pre> <code>
              var x:number = 15;
          </code> </pre>
          And compile with <code> tsc example.ts </code>, you would get an <code>example.js</code> file that looked like this:
          <pre> <code>
              var x = 15;
          </code> </pre>
          But if you tried to re-assign <code>x</code> to a different type like so:
          <pre> <code>
              var x:number = 15;
              x = 'hello';
          </code> </pre>
          You would get the following compiler error:
          <pre> <code>
          example.ts:2:1 - error TS2322: Type '"hello"' is not assignable to type 'number'.

          2 x = 'hello';
            ~


          Found 1 error.
        </code> </pre> <br>

        Note that the error occured in the second case because we tried to convert from a number to a string. <br> <br>
        Function parameters and return values are also typed in typescript. So if we have the following:

        <pre> <code>
            var x:number = 15;
            var y:string = '25';

            // : number shows function return type
            function distance_from_origin(x: number, y:number) : number {
              return Math.sqrt(x*x + y*y);
            }

            distance_from_origin(x, y);
        </code> </pre> <br>

        We would get a compiler error for attempting to call this function with paramenter <code>y</code> being a string. <br> <hr>

        There are many benefits to strongly typed languages as opposed to weakly-typed ones, <br>
        a few of which are listed below: <br>
        <ul>
          <li>allows you to catch errors earlier and easier </li>
          <li>self documenting </li>
          <li>easy to re-factor (change insides of function without changing external behavior)</li>
        </ul>
        The basic types in typescript are:
        <ul>
        <li><code>number</code></li>
        <li><code>boolean</code></li>
        <li><code>string</code></li>
      </ul> Note two things:
        <ul>
          <li>One, the lack of ints or doubles: there is only a single number type, which is stored as a 64-bit floating-point number.</li>
          <li>Also, note that these types exist in JS too, but conversions are so fluid that it can be easy to forget <br>
            that variables in base JS do have types.</li>
    </ul> <br>


         <h3> Editor support </h3> <hr>
         Most editors have added support for typescript which includes, among other things:
         <ul>
         <li>automatic compilation on save</li>
         <li>type error highlighting</li>
         <li>autocomplete</li>
         <li>function headers and variable types on scroll-over</li>
       </ul> <br>
         Click <a href = "#editors"> here</a> to see a list of compiler add-ons for the most popular editors. <br> <br>

         <h2 id = "enums"> Enums </h2> <hr>
         As I stated above, typescript is a superscript of JS, meaning it has some features that JS does <br>
         not support. One of these is enums. <br> <br>

         Enums are a great way to avoid 'magic numbers' in your programs. Here's an example:

         <pre> <code>
         Enum shapes {
           square = 0;
           circle = 1;
           rectangle = 2;
         }
       </pre> </code> <br>

         If we then tried <code>console.log(shapes.square)</code>, we would get <code>0</code>--  the enum makes it so that <code>shapes.square</code> <br>
         has a value of <code>0</code>. So in our code we could write something like <br>
         <pre> <code>
           if (input == shapes.square) {
             // do stuff
           }
         </pre> </code>
         where <code>shapes.square</code> is synonymous with <code>0</code>. However, this is far easier to read and understand than
         <pre> <code>
           if (input == 0) {
             // do stuff
           }
         </pre> </code> <br>

         <h2 id = "type_inferencing"> Type Inferencing </h2> <hr>
         While typescript's typing system is great, it can be a bit cumbersome at times. This is why <br>
         typescript includes type inferecing! Essentially, typescript's compiler is smart enough to <br>
         be able to assume what types you want in some circumstances. Let's modify a prior example a bit:

         <pre> <code>
           var x: = 15;
           var y: '25';
           function distance_from_origin(x, y) : number {
             return Math.sqrt(x*x + y*y);
           }

           distance_from_origin(x, y);
         </pre> </code>

         This will still give an error, because typescript will realize that the variable <code>y</code> is of type <code>string</code><br>
         and the parameter <code>y</code> should be of type <code>number</code> because it is being multiplied in the function. <br> <br>

         <h2 id = "type_optionality"> Type Optionality </h2> <hr>
         Typescript's types are also completely optional. We can opt out of types by setting a variable to type any, like so:

         <pre> <code>
           var x:any = 15;
           x = 'hello';
         </pre> </code> <br>

         This will not cause a compiler error, because variables of type any can be converted to any other basic type. <br> <br>

         <h2 id = "generics"> Generics </h2> <hr>
         Another really useful feature that typescript has is generics, which combines the flexibility of <code>any</code> with <br>
         typescript's strong typing. Essentially, here's how it works: you can set a type to be anything you want initially, <br>
         but after that, an error will be thrown if you try to change it. Let's look at an example. <br>

         <pre> <code>
           class Pair &ltT, U> {

             first_el:T;
             second_el:U;

             constructor(first_el:T, second_el:U) {
                   this.first_el = first_el;
                   this.second_el = second_el;
             }
           }

           let point = new Pair<number, number>(25, 15);
           let data = new Pair<number, string>(20, "good");

           point.first_el = "hello"
           data.second_el = 10

         </pre> </code> <br>

         Here we have a simple class <code>Pair</code> with two elements, <code>first_el</code> and <code>second_el</code>. The general syntax<Br>
         should be familiar from Java. As you can see, <code>first_el</code> is of type <code>T</code>, and <code>second_el</code> of type <code>U</code>. <br>
         This means that they are not initially constrained to any type, they can be initialized as a number <Br>
         or a string. But once initialized to a type, the type cannot be changed: both of the changes at the <br>
         bottom would throw a compiler error. <br> <br>

         <h2 id = "classes"> Classes </h2> <hr>

         Typescript also comes with some great features unique to classes. The first of these is <br>
         explicit property declaration which you saw above. Let's redo the above example without generics <br>
         for simplicity:
         <pre> <code>
           class Point {

             private x:number;
             private y:number;
             readonly label:string;

             constructor(x:number, y:number, label:string) {
                   this.x = x;
                   this.y = y;
                   this.label = label;
             }
           }

           let p0 = new Point(2, 6, "p0");

         </pre> </code> <br> <br>
         Here, we are able to explicitly declare <code>x</code> and <code>y</code> as fields, which has <br>
         limited support in base JS. Typescript also supports private properties, which cannot be modified <br>
         directly (they can only be modified through class methods) and readonly properties, which cannot <br>
         be changed once set. <br> <br>

         <h2 id = "compiler_options"> tsconfig.json </h2> <hr>
         Lastly, let's discuss the tsconfig.json file. This file lets you customize your compilation options. <br>
         Here's an example tsconfig.json:

         <pre> <code>
           {
             "compileOnSave": true,
             "compilerOptions": {
               "noImplicitAny":true,
               "outFile": "build.js"
               },

             "files": [
               "Planet.ts",
               "UserOfPlanet.ts",
             ]
           }
         </pre> </code> <br>

         There's a lot to unpack here, so let's go one by one. <br> <br>

         <b>compileOnSave</b>: this option lets your editor know that you want to recompile <br>
         your typescript project every time you save. <br> <br>

         <b>files</b>: one of the best features of typescript is that you can compile <br>
         multiple <code>.ts</code> files into a single </code>.js</code> file. These files <br>
         indicate which files you want to compile <br> <br>

         <b>outFile</b>: this is what the output <code>.js</code> file will be called. <br><br>

         <b>noImplicitAny</b>: <code>tsconfig.json</code> contains a huge number of options for making <br>
         your code stricter, this is just one of them. This option in particular will throw a <br>
         compiler error if, when using type inferencing, the compiler infers one of the type to <br>
         be <code>any</code>. Here's an exmaple:<br><br>

         <pre> <code>
           function log(data) {
             console.log(data)
           }
         </pre> </code>

         Here, data has a type of <code>any</code> because we didn't set it, which would <br>
         cause an error with this compiler option.<br> <br>

         You can generate a template <code>tsconfig.json</code> file with the command <code>tsc --init</code>.<br> For a full list of options, click <a href = "https://www.typescriptlang.org/v2/en/tsconfig">here</a>. <br> <br>

         <h2 id = "resources"> Resources </h2> <hr>

         Here are some helpful resources to get you started with Typescript: <br> <br>
         <a href = "https://www.typescriptlang.org/">Typescript Documentation</a> <br>
         <a href = "https://www.tutorialsteacher.com/typescript">TutorialsTeacher Typescript</a> <br>
         <a href = "https://www.typescriptlang.org/play/">Typescript Online Editor</a> <br> <br>

          <div id = "editors">
            Here are also links to typescript plugins for a few of the most popular editors: <br>

            <a href = "https://atom.io/packages/atom-typescript/">Atom</a> <br>
            <a href = "https://github.com/leafgarland/typescript-vim/">Vim</a> <br>
            <a href = "https://github.com/chai2010/notepadplus-typescript">Notepad++</a> <br>
            <a href = "https://packagecontrol.io/packages/TypeScript">Sublime</a> <br>
            *VSCode comes with full typescript suppport <br> <br>
          </div>

          <h2> Credits </h2> <hr>

          Credits to <a href = "https://highlightjs.org/">highlightjs</a>, a free code js framework, for code highlighting. <br> <br>
          </div>
        </div>
     </body>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
     <script>hljs.initHighlightingOnLoad();</script>
</html>
