<html>
     <head>
          <title>Flask app</title>
          <link rel="stylesheet" href="./static/css/style.css">
     </head>
     <body>
          <h2> Typescript: </h2>

          <b>1. Is a superset of JS</b> <br>
          This means it incorporates all the features of JS, while adding its own <br> <br>

          <b>2. Compiles into JS </b> <br>
          A typescript file will compile into a plain JS file. <br> <br>

          For instance, if you have the following typescript file example.ts: <br>
          <code>
            var x: number = 15; <br>
            var y: number = 25; <br>
          </code>
          <br>
          If you compile into JS with tsc example.ts, it becomes: <br>
          <code>
            var x = 15; <br>
            var y = 25; <br>
          </code>
          <h2> What features does typescript offer? </h2>
          1. Its compiler allows you to catch errors at compile time rather than runtime <br>
          2. It allows you to set types for variables and return values <br>

     </body>
</html>
